.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.Home .lander p {
  color: #999;
}
.Home .lander-main {
  text-align: center;
  padding: 15%;
}

.Home .columists h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Home .columists p {
  color: #666;
}

.img-capa {
  max-width: 100%;
}
